#adi{
    border: red 2px solid;
    margin: 8px;
    width: 400px;
    height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    padding:10px;
    border-radius:5px;
}
