.footer{
    color:black;
    background-color:gray;
    font-size:20px;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    /* padding:10px */
    margin-top:90px;

}
.right{

}