.nav{
    color:white;
    background-color:black;
    font-size:20px;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    padding:10px
}
img{
    position:relative;
}
